In [62]:
import pandas as pd

In [63]:
df = pd.read_csv('Houses-Price-cairo-Egypt.csv')
df

,Property_price_EGP,Location_governorate,Location_City,Bed_Rooms,Bath_Rooms,Home_Space_SQM,Furnished,Property_Type,Payment_Option,Delivery_Date
0,"2,700,000",Cairo,New Cairo - El Tagamoa,3,2.0,200,No,Apartment,Cash,Ready To Move
1,"2,700,000",Cairo,Tura,2,2.0,210,No,Apartment,Cash,Ready To Move
2,"2,100,000",Cairo,Helwan,3,2.0,200,No,Apartment,Cash,Ready To Move
3,"16,500,000",Cairo,Maadi,4,5.0,575,No,Apartment,Cash,Ready To Move
4,"2,750,000",Cairo,New Cairo - El Tagamoa,3,2.0,200,No,Apartment,Cash,Ready To Move
...,...,...,...,...,...,...,...,...,...,...
940,"2,000,000",Cairo,Rehab City,2,1.0,90,No,Apartment,Cash,Ready To Move
941,"4,500,000Negotiable",NaN,211 SQM,33icon/categories/area211 SQM,NaN,icon/categories/area211,No,Apartment,Cash,Ready To Move
942,"4,500,000",Cairo,Rehab City,3,3.0,211,No,Apartment,Cash,Ready To Move
943,"2,100,000",Cairo,Madinaty,2,1.0,78,No,Apartment,Cash,Ready To Move
944,"7,250,000",Cairo,New Cairo - El Tagamoa,3,3.0,305,No,Apartment,Cash,Ready To Move

In [64]:
rows_to_select = ['Location_City','Bed_Rooms','Bath_Rooms', 'Home_Space_SQM','Property_price_EGP']
df = df[rows_to_select]
df

,Location_City,Bed_Rooms,Bath_Rooms,Home_Space_SQM,Property_price_EGP
0,New Cairo - El Tagamoa,3,2.0,200,"2,700,000"
1,Tura,2,2.0,210,"2,700,000"
2,Helwan,3,2.0,200,"2,100,000"
3,Maadi,4,5.0,575,"16,500,000"
4,New Cairo - El Tagamoa,3,2.0,200,"2,750,000"
...,...,...,...,...,...
940,Rehab City,2,1.0,90,"2,000,000"
941,211 SQM,33icon/categories/area211 SQM,NaN,icon/categories/area211,"4,500,000Negotiable"
942,Rehab City,3,3.0,211,"4,500,000"
943,Madinaty,2,1.0,78,"2,100,000"
944,New Cairo - El Tagamoa,3,3.0,305,"7,250,000"

In [65]:
print(df['Location_City'].value_counts())

Location_City
Madinaty                  253
New Cairo - El Tagamoa    201
Rehab City                 92
Nasr City                  58
Maadi                      22
                         ...
330 SQM                     1
197 SQM                     1
107 SQM                     1
215 SQM                     1
139 SQM                     1
Name: count, Length: 112, dtype: int64

In [66]:
nasr_city = df[df['Location_City'] == 'Nasr City']
nasr_city = nasr_city.sort_values(by='Property_price_EGP').reset_index()

In [67]:
nasr_city = nasr_city.drop(['Location_City', 'index'], axis=1).replace(',','', regex=True)
nasr_city = nasr_city.astype(int)
nasr_city

    Bed_Rooms  Bath_Rooms  Home_Space_SQM  Property_price_EGP
0           2           1              60             1200000
1           2           2             120             1200000
2           3           1             115             1300000
3           2           2             150             1400000
4           2           2             125             1400000
5           3           1             150             1500000
6           3           1             120             1500000
7           2           2             160             1550000
8           3           2             190             1600000
9           3           1             120             1600000
10          4           1             170             1700000
11          4           1             170             1700000
12          2           1             150             1750000
13          3           2             183             1900000
14          3           2             200             1900000
15          3           1             180             1900000
16          3           2             185             2000000
17          3           2             210             2150000
18          3           2             210             2150000
19          4           2             200             2150000
20          3           2             210             2150000
21          3           2             210             2150000
22          3           2             210             2150000
23          3           2             210             2150000
24          3           2             210             2200000
25          2           2             165             2200000
26          4           2             220             2200000
27          3           1             205             2300000
28          3           2             200             2500000
29          4           2             225             2500000
30          3           2             200             2500000
31          3           2             173             2500000
32          4           2             225             2500000
33          4           2             226             2505000
34          3           2             170             2650000
35          3           2             200             3000000
36          3           3             220             3000000
37          3           2             230             3000000
38          3           2             300             3000000
39          3           2             230             3000000
40          3           3             300             3000000
41          3           3             300             3000000
42          4           3             300             3400000
43          4           2             340             3400000
44          4           2             350             3500000
45          4           2             250             3500000
46          6           4             450             3750000
47          4           2             270             3800000
48          3           2             315             3850000
49          4           3             270             3900000
50          3           3             240             4000000
51          3           3             240             4000000
52          3           3             240             4000000
53          4           3             315             4500000
54          3           3             205             4800000
55          3           2             220             5500000
56          3           1             170              720000
57          2           1             110              950000

In [68]:
filtered_nasr_city = pd.DataFrame(columns=nasr_city.columns)
filtered_nasr_city = pd.concat([filtered_nasr_city, nasr_city.iloc[[0]]], ignore_index=True)
filtered_nasr_city

  Bed_Rooms Bath_Rooms Home_Space_SQM Property_price_EGP
0         2          1             60            1200000

In [69]:
for i in range(1, len(nasr_city)):
    if (nasr_city.iloc[i] >= filtered_nasr_city.iloc[-1]).all():
        filtered_nasr_city = pd.concat([filtered_nasr_city, nasr_city.iloc[[i]]], ignore_index=True)

filtered_nasr_city

   Bed_Rooms Bath_Rooms Home_Space_SQM Property_price_EGP
0          2          1             60            1200000
1          2          2            120            1200000
2          2          2            150            1400000
3          2          2            160            1550000
4          3          2            190            1600000
5          3          2            200            1900000
6          3          2            210            2150000
7          3          2            210            2150000
8          3          2            210            2150000
9          3          2            210            2150000
10         3          2            210            2150000
11         3          2            210            2150000
12         3          2            210            2200000
13         4          2            220            2200000
14         4          2            225            2500000
15         4          2            225            2500000
16         4          2            226            2505000
17         4          3            300            3400000
18         6          4            450            3750000

In [70]:
new_columns = ['غرف النوم', 'الحمامات', 'المساحة', 'السعر']
filtered_nasr_city.columns = new_columns

In [72]:
filtered_nasr_city.style.hide(axis="index")